<%= form_for(email) do |form| %>
  <% if email.errors.present? %>
    <ul class="error">
      <% email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form.label :subject %>
  <%= form.text_field :subject %>
  <br/>

  <%= form.label :message %>
  <%= form.text_area :message %>
  <br/>

  <%= form.label :attachments %>
  <%= multiple_file_upload_field(:email, :attachments, email.attachments) do %>
    <%= link_to "add attachment", "#", class: "add" %>
  <% end %>

  <%= form.submit %>
<% end %>
