<%
  # model_name
  # attribute_name
  # value
  # options
  multiple = options.delete(:multiple)
  preview = options.delete(:preview) || false
  hide_files = options.delete(:hide_files) || false
  file_attrs = {
    multiple: options.delete(:multiple), 
    data: {
      :"attr-name" => "#{model_name}[#{attribute_name}_attributes][][key]",
      container: ".#{attribute_name}",
      :"file-upload" => true,
      :"file-path" => file_url
    }
  }.tap do |a|
    a[:multiple] = true if multiple
    a[:"data-autosubmit"] = true if options.delete(:autosubmit)
  end
-%>
<div class="file <%= attribute_name %>">
  <ul class="unstyled<%= ' hide' if hide_files %>">
    <% Array(value).each do |s3_file| -%>
      <li><label>
        <% if s3_file.persisted? && multiple %>
          <%= hidden_field_tag("#{model_name}[existing_#{attribute_name}_attributes][#{s3_file.id}][_destroy]", 1) %>
          <%= check_box_tag("#{model_name}[existing_#{attribute_name}_attributes][#{s3_file.id}][_destroy]", 0, checked: true) %>
        <% elsif s3_file.key %>
          <%= hidden_field_tag("#{model_name}[#{attribute_name}_attributes][][id]", "") %>
          <%= check_box_tag("#{model_name}[#{attribute_name}_attributes][][key]", s3_file.key, checked: true) %>
        <% elsif s3_file.s3_file %>
          <%= check_box_tag("#{model_name}[#{attribute_name}_attributes][][s3_file_id]", s3_file.s3_file.id, checked: true) %>
        <% end %>
        <%= s3_file.name %> (<%= number_with_precision(s3_file.size / 1024.0, precision: 2) %>)kB
      </label></li>
    <% end -%>
  </ul>
  <% if preview %><p class="preview"><%= image_tag(value.url) if value && value.persisted? %></p><% end %>
  <div class="errors"></div>
  <div class="hide">
    <%= file_field_tag "redis_files[][data]", file_attrs %>
  </div>
  <%= yield %>
</div>