<%
  # model_name
  # attribute_name
  # value
  # options
  preview = options.delete(:preview) || false
  hide_files = options.delete(:hide_files) || false

  file_attrs = {
    id: "#{model_name}_#{attribute_name}_file",
    data: {
      :"model-name" => model_name,
      :"attr-name" => attribute_name,
      :"file-upload" => file_upload.bulk_redis_files_path
    },
    :multiple => true
  }.tap do |a|
    a[:"data-autosubmit"] = true if options.delete(:autosubmit)
  end
-%>
<div class="file <%= attribute_name %>">
  <ul class="unstyled<%= ' hide' if hide_files %>">
    <% Array(value).each do |file| -%>
      <li><label>
        <% if file.persisted? %>
          <%= hidden_field_tag("#{model_name}[#{attribute_name}_attributes][#{file.id}][id]", file.id) %>
          <%= hidden_field_tag("#{model_name}[#{attribute_name}_attributes][#{file.id}][_destroy]", 1) %>
          <%= check_box_tag("#{model_name}[#{attribute_name}_attributes][#{file.id}][_destroy]", 0, checked: true) %>
        <% elsif file.key %>
          <%= check_box_tag("#{model_name}[#{attribute_name}_attributes][#{SecureRandom.random_number(1000000000)}][key]", file.key, checked: true) %>
        <% end %>
        <%= file.name %> (<%= number_with_precision(file.size / 1024.0, precision: 2) %>)kB
      </label></li>
    <% end -%>
  </ul>
  <% if preview %><p class="preview"><%= image_tag(value.url) if value && value.persisted? %></p><% end %>
  <div class="errors"></div>
  <div class="hide">
    <%= file_field_tag "redis_files[][data]", file_attrs %>
  </div>
  <%= yield %>
</div>