<%
  # model_name
  # attribute_name
  # value
  # options
  preview = options.delete(:preview) || false
  hide_files = options.delete(:hide_files) || false
  attr_name = "#{model_name}[#{attribute_name}_attributes][key]"
  file_attrs = {
    data: {
      :"attr-name" => attr_name,
      container: ".#{attribute_name}",
      :"file-upload" => true,
      :"file-path" => file_upload.bulk_redis_files_path
    }
  }.tap do |a|
    a[:"data-autosubmit"] = true if options.delete(:autosubmit)
  end
-%>
<div class="file <%= attribute_name %>">
  <ul class="<%= 'hide' if hide_files %>">
    <% if value %>
      <li>
        <%= check_box_tag(attr_name, value.key, checked: true) %>
        <%= value.name %> (<%= number_with_precision(value.size / 1024.0, precision: 2) %>)kB
      </li>
    <% end %>
  </ul>
  <% if preview %><p class="preview"><%= image_tag(value.url) if value && value.persisted? %></p><% end %>
  <div class="errors"></div>
  <div class="hide">
    <%= file_field_tag "redis_files[][data]", file_attrs %>
  </div>
  <%= yield %>
</div>