<%
  # model_name
  # attribute_name
  # value
  # options
  preview = options.delete(:preview) || false
  hide_files = options.delete(:hide_files) || false
  prefix = "#{model_name}[#{attribute_name}_attributes]"
  file_attrs = {
    id: "#{model_name}_#{attribute_name}_file",
    data: {
      :"model-name" => model_name,
      :"attr-name" => attribute_name,
      :"file-upload" => file_upload.bulk_redis_files_path
    }
  }.tap do |a|
    a[:"data-autosubmit"] = true if options.delete(:autosubmit)
  end
-%>
<div class="file <%= attribute_name %>">
  <%= hidden_field_tag("#{prefix}[id]", value.id) if value && value.persisted? %>
  <div class="inputs <%= 'hide' if hide_files %>">
    <% if value %>
      <label>
        <% if value.persisted? %>
          <%= hidden_field_tag("#{prefix}[_destroy]", 1) %>
          <%= check_box_tag("#{prefix}[_destroy]", 0, checked: true) %>
        <% else %>
          <%= check_box_tag("#{prefix}[key]", value.key, checked: true) %>
        <% end %>
        <%= value.name %> (<%= file_size value %>)kB
    </label>
    <% end %>
  </div>
  <% if preview %><p class="preview"><%= image_tag(value.url) if value && value.url %></p><% end %>
  <div class="errors"></div>
  <div class="hide">
    <%= file_field_tag "redis_files[][data]", file_attrs %>
  </div>
  <%= yield %>
</div>